_install
_install/
_install/**
_framework
_framework/
_framework/**
_builds
_builds/
_builds/**
_logs
_logs/
_logs/**
_tarballs
_tarballs/
_tarballs/**
*~
.*.swp
CMakeLists.txt.user*
*.kdev*
*.bak
*.orig
build/
build-release/
build-debug/
docs/html
*.aux
*.blg
*.toc
*.fdb_latexmk
*.bbl
*.log
*.synctex.gz
ceres.pdf
ceres-solver.pdf
docs/minted.sty
obj/
jni/libs/
.buildinfo
